@model Blog
@{
    int miniCounter = 0;
    bool firstPost = true;
}

<main class="blog-main">
    @if (ViewBag.Page == 1)
    {
        <article class="article-main" style="overflow: hidden;">
            @Html.Raw(Model.HTML)
        </article>
    }
    
    @foreach (Post post in ViewBag.Posts)
    {
        // use smaller image if possible
        // TODO: certainly not very clean design to have a fs operation in template
        string titleImage = post.TitleImage, titleImage1X = post.GetTitleImage1X();
        if (File.Exists(ViewBag.BuildPath + titleImage1X))
        {
            titleImage = titleImage1X;
        }
        // show <hr> between groups of mini and non-mini posts
        // wrap every two mini posts into a div and keep counters for that
        // rather awkward code but oh well
        bool showHr = !firstPost && ((post.Mini && miniCounter == 0) || (!post.Mini && miniCounter > 0));
        // 0th mini: close = false, open = true
        // 1st mini: close = false, open = false
        // 2nd mini: close = true, open = true
        // 3st mini: close = false, open = false
        // 4th mini: close = true, open = true
        // non-mini: close = true, open = false
        bool openMiniWrapper = miniCounter % 2 == 0 && post.Mini;
        bool closeMiniWrapper = miniCounter > 0 && (!post.Mini || miniCounter % 2 == 0);
        firstPost = false;
        if (post.Mini)
        {
            miniCounter++;
        }
        else
        {
            miniCounter = 0;
        }
        <text>
            @if (showHr)
            {
                <hr/>
            }
            @if (closeMiniWrapper)
            {
                @Html.Raw("</div>")
            }
            @if (openMiniWrapper)
            {
                @Html.Raw("<div class=\"post-mini-wrapper\">")
            }
            <article class="post-list-entry @(post.Mini ? "post-mini" : "post-normal")">
                @if (post.TitleImage.Length > 0)
                {
                    <text>
                        <a class="post-list-entry-titleimage" href="@post.CanonicalURL"><img src="@titleImage"/></a>
                        @Html.Raw("<div class=\"post-list-entry-body\">")
                    </text>
                }
                else
                {
                    @:<div>
                }
                    <div class="post-list-entry-top">
                        <div class="post-list-entry-title">
                            <h2><a href="@post.CanonicalURL">@post.Title</a></h2>
                            <h4><time>@post.GetFormattedPostDate()</time></h4>
                        </div>
                        @if (post.CoatsOfArms.Length > 0)
                        {
                            <div class="post-list-entry-coatsofarms">
                                @foreach (var coa in post.CoatsOfArms)
                                {
                                    <img src="@coa.Url" style="--width: @((coa.Size > 0 ? coa.Size : FennicaProject.CoatOfArmsSize) / (post.Mini ? 2 : 1))px"/>
                                }
                            </div>
                        }
                    </div>
                    @if (post.Description.Length > 0)
                    {
                        <p class="post-list-entry-description">
                            @Html.Raw(post.Description)
                        </p>
                    }
                @Html.Raw("</div>")
            </article>
        </text>
    }
    @if (miniCounter > 0)
    {
        @Html.Raw("</div>")
    }

    @if (ViewBag.TotalPages > 1)
    {
        <nav class="navigation pagination" role="navigation">
            <h2 class="screen-reader-text">Pages</h2>
            <div class="nav-links">
                @if (ViewBag.Page != 1)
                {
                    <a class="prev page-numbers" href="@Model.GetLinkToPage(ViewBag.Page - 1)"><span class="screen-reader-text">Previous</span><i class="fas fa-arrow-left"></i></a>                     
                }
                @foreach (int page in ViewBag.Pagination)
                {
                    if (page == 0)
                    {
                        <span class="page-numbers dots">…</span>
                    }
                    else if (page == ViewBag.Page)
                    {
                        <span aria-current="page" class="page-numbers current">@(page)</span>                        
                    }
                    else
                    {
                        <a class="page-numbers" href="@Model.GetLinkToPage(page)"><span class="meta-nav screen-reader-text">Page </span>@(page)</a>
                    }
                }
                @if (ViewBag.Page != ViewBag.TotalPages)
                {
                    <a class="next page-numbers" href="@Model.GetLinkToPage(ViewBag.Page + 1)"><span class="screen-reader-text">Next</span><i class="fas fa-arrow-right"></i></a>                    
                }
            </div>
        </nav>
    }
</main>
