@model PostViewModel

<koti-tabs component-id="posttab">
    <koti-tab name="General">
        <fieldset class="formbox">
            <div style="display: grid; grid-template-columns: 120px 1fr; grid-gap: 5px; grid-auto-flow: column;">
                <div>
                    <label for="date">Date:</label>
                    <input type="date" id="date" class="input-block" required asp-for="Date"/>
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
                <div>
                    <label for="name">Name (URL slug):</label>
                    <input id="name" class="input-block" required autocomplete="please-dont" asp-for="Name"/>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div>
                <label for="title">Title:</label>
                <input id="title" class="input-block heading-font" style="font-size: 30px;" required autocomplete="off" asp-for="Title"/>
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div>
                <label>Book (if none, will be the part of the default blog):</label>
                <vc:book-picker component-id="book-picker-post-@Model.Id" field-name="BookId" book-id="@Model.BookId" language="@Model.Language" />
                @Html.ValidationMessageFor(m => m.BookId)
            </div>
            
            <div>
                <label for="description">Description (for blog/book index, Markdown allowed):</label>
                <textarea rows="5" id="description" class="input-block" asp-for="Description"></textarea>
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div>
                <label for="date-description">Date description (when photos and text were authored):</label>
                <textarea rows="1" id="date-description" class="input-block" asp-for="DateDescription"></textarea>
                @Html.ValidationMessageFor(m => m.DateDescription)
            </div>

            <div>
                <label for="location-description">Location description (short):</label>
                <textarea rows="1" id="location-description" class="input-block" asp-for="LocationDescription"></textarea>
                @Html.ValidationMessageFor(m => m.LocationDescription)
            </div>

            <div>
                <label for="address">Address/driving directions:</label>
                <textarea rows="1" id="address" class="input-block" asp-for="Address"></textarea>
                @Html.ValidationMessageFor(m => m.Address)
            </div>

            <div>
                <label for="public-transport">Public transport directions:</label>
                <textarea rows="1" id="public-transport" class="input-block" asp-for="PublicTransport"></textarea>
                @Html.ValidationMessageFor(m => m.PublicTransport)
            </div>

            <div>
                <input id="draft" type="checkbox" asp-for="Draft"/>
                <label for="draft">Draft</label>
                <input id="mini" type="checkbox" asp-for="Mini"/>
                <label for="mini">Mini</label>
                @Html.ValidationMessageFor(m => m.Draft)
            </div>
            
            <div>
                <button type="button" class="koti-btn danger"
                        hx-delete hx-controller="Posts" hx-action="Delete" hx-route-id="@Model.Id" hx-route-language="@Model.Language"
                        hx-confirm="Are you really sure you want to delete this post?  This cannot be undone, consider changing to draft instead.  If you're certain, type 'yes, please'"
                        hx-confirm-strong>
                    <i class="bi bi-x-lg"></i> Delete post
                </button>
            </div>
        </fieldset>
    </koti-tab>

    <koti-tab name="Title Picture">
        <koti-post-title-picture picker-component-id="picture-picker-post-@Model.Id">
            <vc:picture-picker component-id="picture-picker-post-@Model.Id" field-name="TitlePictureId" picture-id="@Model.TitlePictureId"/>
            @Html.ValidationMessageFor(m => m.TitlePictureId)

            <div class="mt">
                <div class="title-image-in-text-container" hidden="@(Model.TitlePictureId is null)">
                    <input id="title-image-in-text" type="checkbox" asp-for="TitleImageInText"/>
                    <label for="title-image-in-text">Place into post body rather than header</label>
                    @Html.ValidationMessageFor(m => m.TitleImageInText)
                </div>

                <div class="input-inline title-image-offset-y-container" hidden="@(Model.TitlePictureId is null || Model.TitleImageInText)">
                    <label for="title-image-offset-y">Title image vertical position:</label>
                    <input type="number" min="0" max="100" placeholder="50" id="title-image-offset-y" asp-for="TitleImageOffsetY"/>
                    %
                    <br/>
                    @Html.ValidationMessageFor(m => m.TitleImageOffsetY)
                </div>

                <div class="title-image-caption-container" hidden="@(Model.TitlePictureId is null || !Model.TitleImageInText)">
                    <label for="title-image-caption">Caption:</label>
                    <textarea rows="1" id="title-image-caption" class="input-block" asp-for="TitleImageCaption"></textarea>
                    @Html.ValidationMessageFor(m => m.TitleImageCaption)
                </div>
            </div>
        </koti-post-title-picture>
    </koti-tab>

    <koti-tab name="Coats of Arms">
        <koti-post-coats-of-arms>
            <div class="coats-of-arms">
                @foreach (var item in Model.CoatsOfArms.Select((value, i) => (value, i)))
                {
                    <vc:post-coat-of-arms url="@item.value.Url" size="@item.value.Size" index="@item.i"/>
                }
            </div>
            @Html.ValidationMessageFor(m => m.CoatsOfArms)
            <button class="koti-btn primary add-coa-btn" type="button">
                <i class="bi bi-plus-lg"></i> Add coat of arms...
            </button>
            <partial name="~/Views/Pictures/_UploadModal.cshtml" model="@(new { ComponentId = "coa-upload", TargetSet = "Coats of Arms" })"/>
        </koti-post-coats-of-arms>
    </koti-tab>

    <koti-tab name="Geo">
        <koti-post-geo>
            <div class="geo">
                @foreach (var item in Model.Geo.Select((value, i) => (value, i)))
                {
                    <vc:post-geo geo="@item.value" index="@item.i"/>
                    @Html.ValidationMessageFor(m => m.Geo[item.i])
                }
            </div>
            <button class="koti-btn primary add-geo-btn" type="button">
                <i class="bi bi-plus-lg"></i> Add geo point...
            </button>
        </koti-post-geo>
    </koti-tab>

</koti-tabs>