@{
    ViewBag.Title = "Posts";
    Layout = "_Layout";
}

@section HeaderTitle {
    <i class="bi bi-caret-right"></i> Posts
}

@section HeaderNav {
    <koti-dropdown selected="@ViewData["Language"]">
        @foreach (var language in Fennica3.Fennica3.Languages)
        {
            @if (language != ViewData["Language"]?.ToString())
            {
                <koti-dropdown-option href="@Url.Action("Index", new { language })">@language</koti-dropdown-option>
            }
        }
    </koti-dropdown>
    
    <button class="koti-btn primary with-indicator" id="create-button"
            hx-get hx-controller="Posts" hx-action="Create" hx-route-language="@ViewData["Language"]"
            hx-target="#create-post-dialog-container" hx-disabled-elt="this" hx-indicator="#create-button-indicator">
        <span id="create-button-indicator" class="spinner htmx-indicator"></span>
        <i class="bi bi-plug-lg"></i> Add post...
    </button>
}

<form id="post-index" class="content-list" hx-swap="innerHTML">
    <vc:post-list component-id="post-index" language="@ViewData["Language"]" limit="0" offset= "-1" post-search="#" link-only="true" />
</form>

<div id="create-post-dialog-container"></div> 
