@using Microsoft.AspNetCore.Mvc.ModelBinding.Validation
@model Post
@{
    var useTitleImage = Model.TitleImage.Length > 0 && !Model.TitleImageInText;
}

<div class="@(useTitleImage ? "post-heading" : "post-heading-no-pic")"
     style="@(useTitleImage ? "background-image: url(" + Model.TitleImage + "); background-position: 50% " + (Model.TitleImageOffsetY > 0 ? Model.TitleImageOffsetY : 50) + "%" : "")">
    @if (Model.CoatsOfArms.Length > 0)
    {
        <div class="post-heading-coatsofarms">
            @foreach (var coa in Model.CoatsOfArms)
            {
                <img src="@coa.Url" style="--width: @(coa.Size > 0 ? coa.Size : FennicaProject.CoatOfArmsSize)px" />
            }
        </div>
    }   
    <div class="post-title">
        <h1>@Model.Title</h1>
        @if (Model.DateDescription.Length > 0)
        {
            <h4><span class="time"><time>@Model.DateDescription</time></span></h4>
        }
        @if (Model.LocationDescription.Length > 0)
        {
            <h4><span class="place">@Model.LocationDescription</span></h4>
        }
        @if (ViewBag.PrevPost != null)
        {
            <h4><span class="prev">@Localizer.GetString("previous"):
                    <a href="@((ViewBag.PrevPost as Post)!.CanonicalURL)">@((ViewBag.PrevPost as Post)!.Title)</a>
            </span></h4>
        }
        @if (ViewBag.NextPost != null)
        {
            <h4><span class="next">@Localizer.GetString("next"):
                    <a href="@((ViewBag.NextPost as Post)!.CanonicalURL)">@((ViewBag.NextPost as Post)!.Title)</a>
            </span></h4>
        }
    </div>
</div>
<main class="post-main">
    <article>
        <hr />
        @Html.Raw(Model.HTML)
        <hr />
    </article>
    <div class="notes">
        @if (Model.Address.Length > 0)
        {
            <p><b>@Localizer.GetString("address")</b>: @Model.Address</p>
        }
        @if (Model.PublicTransport.Length > 0)
        {
            <p><b>@Localizer.GetString("public-transport")</b>: @Model.PublicTransport</p>
        }
        <p><b>@Localizer.GetString("published-on")</b>: <time>@Model.GetFormattedPostDate()</time></p>
        @* @if (Model.Twitter.Length > 0)
        {
            <p><img class="twitter" src="/static/twitter-blue.svg" alt="Twitter" /><b>@Localizer.GetString("twitter-thread")</b>:
                <a class="twitter-link" href="@Model.Twitter">@Model.Twitter.Replace("https://", "")</a></p>
        } *@
    </div>
</main>
