@using Holvi.Models
@model PictureListViewModel

@if (Model.PictureSet != null)
{
     <div class="picture-set-header">
          @if (Model.PictureSet.Id == 0)
          {
               <label for="@Model.ComponentId-picture-set-search-input" style="text-wrap-mode: nowrap; margin-right: 5px;">Search for folders:</label>
               <input type="text" id="@Model.ComponentId-picture-set-search-input" class="input-block picture-set-search-input" value="@Model.PictureSetSearchQuery" hx-get hx-target="#@Model.ComponentId"
                      hx-trigger="keyup changed delay:500ms" hx-controller="Pictures" hx-action="List" hx-route-componentId="@Model.ComponentId"
                      hx-route-setId="0" hx-route-limit="@Model.Limit" hx-route-offset="0" hx-vals='js:{"setSearch":this.value}'/>
          }
          else
          {
               <h3>
                    <button class="koti-btn" hx-get hx-target="#@Model.ComponentId" hx-controller="Pictures" hx-action="List"
                            hx-route-componentId="@Model.ComponentId" hx-route-setId="@(Model.PictureSet.ParentId ?? 0)" hx-route-setSearch="#"
                            hx-route-limit="@Model.Limit" hx-route-offset="0">
                         <i class="bi bi-arrow-90deg-up"></i>
                    </button>
                    @Model.PictureSet.Name
               </h3>
          }
     </div>
}

<div class="list" data-remember-state="@Model.ComponentId-set@(Model.PictureSet is not null ? Model.PictureSet.Id : "null")-offset@(Model.Offset)">
     @if (Model.PictureSet != null)
     {
          @foreach (var childSet in Model.PictureSet.Children)
          {
               @if (String.IsNullOrWhiteSpace(Model.PictureSetSearchQuery) || childSet.Name.ToLower().Contains(Model.PictureSetSearchQuery.ToLower()))
               {
                    <button class="koti-btn folder" hx-get hx-target="#@Model.ComponentId" hx-controller="Pictures"
                            hx-action="List" hx-route-componentId="@Model.ComponentId"
                            hx-route-setId="@childSet.Id" hx-route-setSearch="#" hx-route-limit="@Model.Limit" hx-route-offset="-1">
                         @if (Model.ChildrenPictureSetThumbnails.ContainsKey(childSet.Id))
                         {
                              <div class="thumbnails">
                                   @foreach (var thumbnail in Model.ChildrenPictureSetThumbnails[childSet.Id])
                                   {
                                        <img src="@thumbnail" alt="" loading="lazy">
                                   }
                              </div>
                         }
                         @childSet.Name
                    </button>
               }
          }
     }
     
     @foreach (var picture in Model.Pictures)
     {
          <koti-picture picture-id="@picture.Id" src="@picture.DetailsUrl" title="@($"{picture.PhotographedAt?.ToString("d.MM.yyyy")}\n{picture.Filename}")"
                        height="@Picture.ThumbnailSize" width="@Math.Floor(picture.Width * 1.0 / picture.Height * Picture.ThumbnailSize)"
                        fullscreen-url="@Url.Action("Fullscreen", "Pictures", new { pictureId = picture.Id, componentId = Model.ComponentId,
                                             setId = Model.PictureSet?.Id, setSearch = Model.PictureSetSearchQuery, limit = Model.Limit, offset = Model.Offset })"></koti-picture>
     }
</div>

<partial name="_Pagination" model="@(new PaginatorViewModel { Data = Model, HxTarget = "#" + Model.ComponentId,
                                        BaseUrl = Url.Action("List", "Pictures", new { componentId = Model.ComponentId, setId = Model.PictureSet?.Id, setSearch = Model.PictureSetSearchQuery })!})" />

