@using KoTi.Controllers.App
@model AbstractContentViewModel

@{
    ViewBag.Title = $"{Model.Title} - {Model.KindPlural}";
    ViewBag.BodyClass = "body-2col";
    Layout = "_Layout";
}

@section HeaderTitle {
    <partial name="~/Views/AbstractContent/_Title.cshtml" model="Model" />
}

@section HeaderNav {
    <button class="koti-btn primary with-indicator" onclick="document.querySelector('koti-content-editor').dispatchEvent(new CustomEvent('koti-content-editor:save'))" id="save-button">
        <span id="save-button-indicator" class="spinner htmx-indicator"></span>
        <i class="bi bi-save"></i> Save
    </button>
}

<koti-content-editor initial-content-md-id="content-md-initial"
                     content-form-id="content-form"
                     insert-button-id="insert-button"></koti-content-editor>

<aside>
    <koti-tabs component-id="topleveltab">
        <koti-tab name="Properties">
            <form id="content-form" class="h100" hx-put hx-disabled-elt="#save-button" hx-indicator="#save-button-indicator">
                @await Component.InvokeAsync((Type)ViewData["FormViewComponentType"]!, new { model = Model })
            </form>
        </koti-tab>

        <koti-tab name="Insert">
            <div class="insert-pane h100">
                <koti-tabs component-id="inserttab">
                    <koti-tab name="Picture">
                        <div class="insert-picture h100">
                            <form id="picture-list-@Model.GetType().Name-@Model.Id" class="picture-list" hx-swap="innerHTML">
                                <vc:picture-list component-id="picture-list-@Model.GetType().Name-@Model.Id" set-id="-1" set-search="#" limit="0" offset="-1" />
                            </form>
                        </div>
                    </koti-tab>
                    
                    <koti-tab name="Upload Picture">
                        <div class="insert-uploaded-picture h100">
                            <koti-picture-uploader target-set="Blog Pictures"></koti-picture-uploader>
                        </div>
                    </koti-tab>
                    
                    <koti-tab name="Post Link">
                        <div class="insert-post-link h100">
                            <form id="post-list-@Model.GetType().Name-@Model.Id" class="content-list" hx-swap="innerHTML">
                                <vc:post-list component-id="post-list-@Model.GetType().Name-@Model.Id" language="@Model.Language" limit="0" offset= "-1" post-search="#" />
                            </form>
                        </div>
                    </koti-tab>

                    <koti-tab name="Article Link">
                        <div class="insert-article-link h100">
                            <form id="article-list-@Model.GetType().Name-@Model.Id" class="content-list" hx-swap="innerHTML">
                                <vc:article-list component-id="article-list-@Model.GetType().Name-@Model.Id" language="@Model.Language" limit="0" offset= "-1" article-search="#" />
                            </form>
                        </div>
                    </koti-tab>
                    
                    <div style="flex-grow: 1;"></div>
                    <button style="height: fit-content;" id="insert-button" class="koti-btn primary" disabled="disabled">Select an item</button>
                </koti-tabs>
            </div>
        </koti-tab>

        <koti-tab name="Preview">
            <div class="content-preview-pane">
                <div class="buttons">
                    <button class="koti-btn primary" onclick="$id('preview-iframe').contentWindow.postMessage('reload')">
                        <i class="bi bi-arrow-clockwise"></i> Refresh
                    </button>
                    <button class="koti-btn" onclick="$id('preview-iframe').src = '@Model.FennicaURL'">
                        <i class="bi bi-arrow-clockwise"></i> Reset
                    </button>
                    <button class="koti-btn" onclick="window.open('@Model.FennicaURL', '_blank')">
                        <i class="bi bi-box-arrow-up-right"></i> Open in new tab
                    </button>
                    <span>&nbsp;&nbsp;&nbsp;Preview shows the last saved version.</span>
                </div>
                <iframe id="preview-iframe" src="@Model.FennicaURL"></iframe>
            </div>
        </koti-tab>
    </koti-tabs>
</aside>

<textarea id="content-md-initial" style="position: fixed; width: 0; height: 0; visibility: hidden; pointer-events: none;">@Model.ContentMD</textarea>
