@model ArticleViewModel

<fieldset class="formbox">
    <div>
        <label for="name">Name (URL slug):</label>
        <input id="name" class="input-block" required autocomplete="please-dont" asp-for="Name" />
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div>
        <label for="title">Title:</label>
        <input id="title" class="input-block heading-font" style="font-size: 30px;" required asp-for="Title" />
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div>
        <input id="draft" type="checkbox" asp-for="Draft" />
        <label for="draft">Draft</label>
        @Html.ValidationMessageFor(m => m.Draft)
    </div>
    
    <div>
        <button type="button" class="koti-btn danger"
                hx-delete hx-controller="Articles" hx-action="Delete" hx-route-id="@Model.Id" hx-route-language="@Model.Language"
                hx-confirm="Are you really sure you want to delete this article?  This cannot be undone, consider changing to draft instead.  If you're certain, type 'yes, please'"
                hx-confirm-strong>
            <i class="bi bi-x-lg"></i> Delete article
        </button>
    </div>
</fieldset>