@model KoTi.ViewModels.Articles.ArticleListViewModel

<div class="content-header">
    <label for="@Model.ComponentId-post-search-input" style="text-wrap-mode: nowrap;" class="mr">Search for articles:</label>
    <input type="text" id="@Model.ComponentId-post-search-input" class="input-block picture-set-search-input" value="@Model.ArticleSearchQuery" hx-get hx-target="#@Model.ComponentId"
           hx-trigger="keyup changed delay:500ms" hx-controller="Articles" hx-action="List" hx-route-componentId="@Model.ComponentId" hx-route-language="@Model.Language"
           hx-route-linkOnly="@Model.LinkOnly" hx-route-limit="@Model.Limit" hx-route-offset="0" hx-vals='js:{"articleSearch":this.value}'/>
</div>

<div class="list" data-remember-state="@Model.ComponentId-offset@(Model.Offset)">
    @foreach (var article in Model.Articles)
    {
        <koti-content-item kind="article" id="@article.Id" name="@article.Name" title="@article.Title" draft="@(article.Draft ? "true" : "")"
                           edit-url="@Url.Action("Edit", "Articles", new { id = article.Id, language = article.Language })" link-only="@Model.LinkOnly"></koti-content-item>
    }
</div>

<partial name="_Pagination" model="@(new PaginatorViewModel { Data = Model, HxTarget = "#" + Model.ComponentId,
                                       BaseUrl = Url.Action("List", "Articles", new { componentId = Model.ComponentId, language = Model.Language, articleSearch = Model.ArticleSearchQuery, linkOnly = Model.LinkOnly })!})" />