@{
    LayoutParams layoutParams = Model.LayoutParams;
}
<!DOCTYPE html>
<html lang="@layoutParams.Language" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    @* basic prolog *@
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link href="https://fonts.gstatic.com/" crossorigin="anonymous" rel="preconnect" />

    @* external (font) CSS *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" />

    @* own CSS and JS, see Client *@
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <script defer="defer" src="/js/bundle.js" asp-append-version="true"></script>

    @* <title>, meta description *@
    <title>@(layoutParams.Title.Length > 0 ? Localizer[layoutParams.Title] + " - " + Fennica3.MainTitle : Fennica3.MainTitle)</title>
    @if (layoutParams.Description.Length > 0)
    {
        <meta name="description" content="@layoutParams.Description" />
    }

    @* rel=alternate links for languages, rel=canonical *@
    @*
    @foreach (var kv in layoutParams.LanguageVersions)
    {
        <link rel="alternate" hreflang="@kv.Key" href="@Fennica3.PublicBase@kv.Value" />
    }
    *@
    <link rel="canonical" href="@Fennica3.PublicBase@layoutParams.CanonicalLink" />

    @* RSS if available *@
    @if (layoutParams.RSSLink.Length > 0)
    {
        <link rel="alternate" type="application/rss+xml"
            title="@(layoutParams.Title.Length > 0 ? Localizer[layoutParams.Title] + " - " + Fennica3.MainTitle : Fennica3.MainTitle)"
            href="@layoutParams.RSSLink" />
    }

    @* Google Analytics inline script *@
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Fennica3.GAID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '@Fennica3.GAID');
    </script>

    @* favicons *@
    <link rel="icon" href="@Fennica3.FaviconLink" />
    <link rel="apple-touch-icon-precomposed" href="@Fennica3.FaviconLink" />
    <meta name="msapplication-TileImage" content="@Fennica3.FaviconLink" />

    @* OpenGraph meta *@
    <meta property="og:site_name" content="@Fennica3.MainTitle" />
    @if (layoutParams.Title.Length > 0)
    {
        <meta property="og:title" content="@Localizer[layoutParams.Title]" />
    }
    <meta property="og:url" content="@Fennica3.PublicBase@layoutParams.CanonicalLink" />
    @if (layoutParams.IsOpenGraphArticle)
    {
        <meta property="og:type" content="article" />
        @if (layoutParams.PublishDate != null)
        {
            <meta property="article:published_time" content="@layoutParams.PublishDate.Value.ToString("yyyy-MM-ddTHH:mm:ssZ", CultureInfo.InvariantCulture)" />
        }
        <meta property="article:author" content="@Fennica3.Author" />
    }
    @if (layoutParams.Description.Length > 0)
    {
        <meta property="og:description" content="@layoutParams.Description" />
    }
    @if (layoutParams.TitleImage.Length > 0)
    {
        <meta property="og:image" content="@layoutParams.TitleImage" />
    }

    @* Twitter meta *@
    @if (layoutParams.Title.Length > 0)
    {
        <meta name="twitter:title" content="@Localizer[layoutParams.Title]" />
    }
    <meta name="twitter:url" content="@Fennica3.PublicBase@layoutParams.CanonicalLink" />
    @if (layoutParams.Description.Length > 0)
    {
        <meta name="twitter:description" content="@layoutParams.Description" />
    }
    @if (layoutParams.TitleImage.Length > 0)
    {
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:image" content="@layoutParams.TitleImage" />
    }

    @* noindex *@
    @if (layoutParams.NoIndex)
    {
        <meta name="robots" content="noindex, follow" />
    }
</head>

<body class="@layoutParams.BodyClass">
    <header class="@(layoutParams.BigHeaderPage.Length > 0 ? "big" : "")">
        <a class="title-link main-title" href="/@layoutParams.Language/">
            <img alt="Encyclopaedia Fennica" src="/logo.svg" />
        </a>
        <nav>
            @if (layoutParams.BigHeaderPage.Length > 0)
            {
                @if (layoutParams.Language == "ru")
                {
                    <text>
                        <a href="/@layoutParams.Language/" class="@(layoutParams.BigHeaderPage == "blog" ? "active" : "")">@(Localizer["blog"].Value)</a> |
                        <a href="/@layoutParams.Language/article/contents/" class="@(layoutParams.BigHeaderPage == "contents" ? "active" : "")">@(Localizer["contents"])</a> |
                        <a href="/@layoutParams.Language/article/about/" class="@(layoutParams.BigHeaderPage == "about" ? "active" : "")">@(Localizer["about-website"])</a> |
                        <a href="@Fennica3.Telegram"><img class="telegram" alt="Telegram" src="/telegram-white.svg" />Telegram</a>
                        <br class="onlymobile-inline" />
                    </text>
                }
                else
                {
                    <text>
                        <a href="/@layoutParams.Language/" class="@(layoutParams.BigHeaderPage == "blog" ? "active" : "")">@(Localizer["blog"].Value)</a> |
                        <br class="onlymobile-inline" />
                    </text>
                }
                
                @*
                @if (layoutParams.LanguageVersions.ContainsKey("fi"))
                {
                    <a href="@layoutParams.LanguageVersions["fi"]" class="@(layoutParams.Language == "fi" ? "active" : "")">Suomi</a>
                }
                else
                {
                    <span class="muted">Suomi</span>
                }
                <text>/</text>
                @if (layoutParams.LanguageVersions.ContainsKey("en"))
                {
                    <a href="@layoutParams.LanguageVersions["en"]" class="@(layoutParams.Language == "en" ? "active" : "")">English</a>
                }
                else
                {
                    <span class="muted">English</span>
                }
                <text>/</text>
                @if (layoutParams.LanguageVersions.ContainsKey("ru"))
                {
                    <a href="@layoutParams.LanguageVersions["ru"]" class="@(layoutParams.Language == "ru" ? "active" : "")">Русский</a>
                }
                else
                {
                    <span class="muted">Русский</span>
                }
                *@
            } else {
                @*
                @if (layoutParams.LanguageVersions.ContainsKey("fi"))
                {
                    <a href="@layoutParams.LanguageVersions["fi"]" class="@(layoutParams.Language == "fi" ? "active" : "")">FIN</a>
                }
                else
                {
                    <span class="muted">FIN</span>
                }
                <hr />
                @if (layoutParams.LanguageVersions.ContainsKey("en"))
                {
                    <a href="@layoutParams.LanguageVersions["en"]" class="@(layoutParams.Language == "en" ? "active" : "")">ENG</a>
                }
                else
                {
                    <span class="muted">ENG</span>
                }
                <hr />
                @if (layoutParams.LanguageVersions.ContainsKey("ru"))
                {
                    <a href="@layoutParams.LanguageVersions["ru"]" class="@(layoutParams.Language == "ru" ? "active" : "")">RUS</a>
                }
                else
                {
                    <span class="muted">RUS</span>
                }
                *@
            }
        </nav>
    </header>

    @RenderBody()

<footer>
    @if (layoutParams.PrevPath.Length > 0 || layoutParams.NextPath.Length > 0)
    {
        <p>
            @if (layoutParams.PrevPath.Length > 0)
            {
                <text><a href="@layoutParams.PrevPath"><i class="fas fa-arrow-left"></i></a>@Html.Raw("&nbsp;")<a href="@layoutParams.PrevPath" class="text">@layoutParams.PrevTitle</a></text>
            }
            @if (layoutParams.PrevPath.Length > 0 && layoutParams.NextPath.Length > 0)
            {
                <text>@Html.Raw("\u00A0| ")</text>
            }
            @if (layoutParams.NextPath.Length > 0)
            {
                <text><a href="@layoutParams.NextPath" class="text">@layoutParams.NextTitle</a>@Html.Raw("&nbsp;")<a href="@layoutParams.NextPath"><i class="fas fa-arrow-right"></i></a></text>
            }
        </p>
    }
    <p>
        @Fennica3.Copyright <a href="@Fennica3.FooterLink">@Fennica3.Author</a>
        <a href="https://creativecommons.org/licenses/by-nd/4.0/">CC BY-ND</a>
    </p>
</footer>
</body>
</html>