@using System.Globalization
@using Holvi.Models
@model PlaceViewModel

<koti-tabs component-id="placetab">
    <koti-tab name="General">
        <fieldset class="formbox">
            <div>
                <label for="name">Name (URL slug):</label>
                <input id="name" class="input-block" required autocomplete="please-dont" asp-for="Name"></input>
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            
            <div>
                <input id="draft" type="checkbox" asp-for="Draft"/>
                <label for="draft">Draft</label>
                @Html.ValidationMessageFor(m => m.Draft)
                <input id="is-leaf" type="checkbox" asp-for="IsLeaf"/>
                <label for="is-leaf">Leaf (don't normally show as separate page)</label>
                @Html.ValidationMessageFor(m => m.IsLeaf)
            </div>

            <div>
                <label for="title"><strong>
                    @foreach (var item in Model.ParentsIds.Select((id, i) => (id, i)))
                    {
                        <input type="hidden" name="ParentsIds[@item.i]" value="@item.id"/>
                        <input type="hidden" name="ParentsTitles[@item.i]" value="@Model.ParentsTitles[item.i]"/>
                        <a href="/app/Places/@item.id/@Model.Language/">@Model.ParentsTitles[item.i]</a>
                        <i class="bi bi-caret-right"></i>
                    }
                </strong></label>
                <input id="title" class="input-block heading-font" style="font-size: 30px;" required autocomplete="off" asp-for="Title" placeholder="Title"/>
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div>
                <label for="alias">Subtitle (for versions in other languages):</label>
                <input id="alias" class="input-block" asp-for="Subtitle"/>
                @Html.ValidationMessageFor(m => m.Subtitle)
            </div>
            
            <div class="hbox">
                Rating:
                <koti-rating name="Rating" value="@Model.Rating" />
            </div>
            
            <div>
                <label for="description">Description (short, for map, Markdown allowed):</label>
                <textarea rows="5" id="description" class="input-block" asp-for="Description"></textarea>
            </div>
            
            <div class="hbox">
                <label>Icon:</label>
                <koti-geo-icon-picker value="@Model.Icon" name="Icon" />
            </div>

            <div class="hbox">
                <label>Explore status:</label>
                <koti-explore-status-picker value="@Model.ExploreStatus" name="ExploreStatus" />
            </div>
            
            <div>
                <label>Links:</label>
                <div class="simple-link-list" id="links">
                    @foreach (var link in Model.Links)
                    {
                        <div><input name="Links[]" placeholder="URL (post:XXX, https:/...)" value="@link" /></div>
                        <div><button type="button" class="koti-btn" onclick="if (confirm('Really delete link?')) { this.parentElement.previousElementSibling.remove(); this.parentElement.remove(); }">Remove</button></div>
                    }
                </div>
                <template id="link-template">
                    <div><input name="Links[]" placeholder="URL (post:XXX, https:/...)" /></div>
                    <div><button type="button" class="koti-btn" onclick="if (confirm('Really delete link?')) { this.parentElement.previousElementSibling.remove(); this.parentElement.remove(); }">Remove</button></div>
                </template>
                <div class="mt">
                    <button type="button" class="koti-btn" onclick="$id('links').insertAdjacentHTML('beforeend', $id('link-template').innerHTML);">Add link</button>
                    @Html.ValidationMessageFor(m => m.Links)
                </div>
            </div>
            
            @if (Model.ParentsIds.Count > 0)
            {
                @if (Model.Children.Count == 0)
                {
                    <div>
                        <button type="button" class="koti-btn danger"
                                hx-delete hx-controller="Places" hx-action="Delete" hx-route-id="@Model.Id" hx-route-language="@Model.Language"
                                hx-confirm="Are you really sure you want to delete this place?  This cannot be undone, and will delete ALL LANGUAGE VERSIONS, consider changing to draft instead.  If you're certain, type 'yes, please'"
                                hx-confirm-strong>
                            <i class="bi bi-x-lg"></i> Delete place
                        </button>
                    </div>
                }
                else
                {
                    <div>
                        <button type="button" class="koti-btn danger" disabled title="Cannot delete a place with children">
                            <i class="bi bi-x-lg"></i> Delete place
                        </button>
                    </div>
                }
            }
        </fieldset>
    </koti-tab>
    
    <koti-tab name="Metadata">
        <koti-place-metadata>
            <fieldset class="formbox">
                <fieldset data-meta="population" hidden="@(Model.Meta.Population is null)">
                    <div style="display: grid; grid-template: auto auto / auto auto; gap: 5px; width: fit-content; align-items: center;">
                        <label for="population-number">Population:</label>
                        <div>
                            <input type="number" min="0" max="10000000000" style="width: 100px;"
                                   id="population-number" asp-for="Meta.Population!.Number"/>
                            @Html.ValidationMessageFor(m => m.Meta.Population!.Number)
                        </div>
                        <label for="population-year">As of year:</label>
                        <div>
                            <input type="number" min="1800" max="@DateTime.Now.Year" style="width: 100px;"
                                   id="population-year" asp-for="Meta.Population!.Year"/>
                            @Html.ValidationMessageFor(m => m.Meta.Population!.Year)
                        </div>
                    </div>
                </fieldset>

                <fieldset data-meta="area" hidden="@(Model.Meta.Area is null)">
                    <div class="hbox">
                        <label for="area-sqkm">Area:</label>
                        <input type="number" min="0" max="10000000000" step="any" style="width: 100px;"
                               id="area-sqkm" class="input-block" asp-for="Meta.Area!.SqKm"/>
                        <span>sq. km</span>
                        <input type="checkbox" id="area-excludes-sea-areas" asp-for="Meta.Area!.ExcludesSeaAreas"/>
                        <label for="area-excludes-sea-areas" class="ml">Excluding sea areas</label>
                        @Html.ValidationMessageFor(m => m.Meta.Area!.SqKm)
                        @Html.ValidationMessageFor(m => m.Meta.Area!.ExcludesSeaAreas)
                    </div>
                </fieldset>

                <fieldset data-meta="established" hidden="@(Model.Meta.Established is null)">
                    <div style="display: grid; grid-template-columns: auto auto; gap: 5px; width: fit-content; align-items: center;">
                        <label for="established-year">Established in:</label>
                        <div>
                            <input type="number" min="0" max="@DateTime.Now.Year" style="width: 100px;"
                                   id="established-year" asp-for="Meta.Established!.Year"/>
                            @Html.ValidationMessageFor(m => m.Meta.Established!.Year)
                        </div>
                        <label for="established-label">Custom year label:</label>
                        <div>
                            <input type="text" id="established-label" asp-for="Meta.Established!.Label" placeholder="Established in" />
                            @Html.ValidationMessageFor(m => m.Meta.Established!.Label)
                        </div>
                        <label for="established-alt-year">First mentioned in:</label>
                        <div>
                            <input type="number" min="0" max="@DateTime.Now.Year" style="width: 100px;"
                                   id="established-alt-year" asp-for="Meta.Established!.AltYear"/>
                            @Html.ValidationMessageFor(m => m.Meta.Established!.AltYear)
                        </div>
                        <label for="established-label">Custom year label:</label>
                        <div>
                            <input type="text" id="established-alt-label" asp-for="Meta.Established!.AltLabel" placeholder="First mentioned in" />
                            @Html.ValidationMessageFor(m => m.Meta.Established!.AltLabel)
                        </div>
                    </div>
                </fieldset>

                <fieldset data-meta="coat-of-arms" hidden="@(Model.Meta.CoatOfArms is null)">
                    <div>Coat of arms:</div>
                    <vc:place-meta-coat-of-arms picture-id="Model.Meta.CoatOfArms?.PictureId"/>
                    @Html.ValidationMessageFor(m => m.Meta.CoatOfArms!.PictureId)
                    <div class="input-inline mt mb">
                        <label for="coat-of-arms-override-size">Size:</label>
                        <input type="number" id="coat-of-arms-override-size"
                               min="0" max="1000" placeholder="150" asp-for="Meta.CoatOfArms!.OverrideSize" />
                        px
                    </div>
                    @Html.ValidationMessageFor(m => m.Meta.CoatOfArms!.OverrideSize)
                </fieldset>

                <fieldset data-meta="language-percent" hidden="@(Model.Meta.LanguagePercent is null)">
                    <div style="display: grid; grid-template-columns: auto auto; gap: 5px; width: fit-content; align-items: center;">
                        <label for="language-percent-finnish">Finnish:</label>
                        <div>
                            <input type="number" min="0" max="100" step="any" style="width: 100px;"
                                   id="language-percent-finnish" asp-for="Meta.LanguagePercent!.FinnishPercent"/>
                            %
                            @Html.ValidationMessageFor(m => m.Meta.LanguagePercent!.FinnishPercent)
                        </div>
                        <label for="language-percent-swedish">Finnish:</label>
                        <div>
                            <input type="number" min="0" max="100" step="any" style="width: 100px;"
                                   id="language-percent-swedish" asp-for="Meta.LanguagePercent!.SwedishPercent"/>
                            %
                            @Html.ValidationMessageFor(m => m.Meta.LanguagePercent!.SwedishPercent)
                        </div>
                        <label for="language-percent-sami">Sami:</label>
                        <div>
                            <input type="number" min="0" max="100" step="any" style="width: 100px;"
                                   id="language-percent-sami" asp-for="Meta.LanguagePercent!.SamiPercent"/>
                            %
                            @Html.ValidationMessageFor(m => m.Meta.LanguagePercent!.SamiPercent)
                        </div>
                        <label for="language-percent-foreign">Foreign:</label>
                        <div>
                            <input type="number" min="0" max="100" step="any" style="width: 100px;"
                                   id="language-percent-foreign" asp-for="Meta.LanguagePercent!.ForeignPercent"/>
                            %
                            @Html.ValidationMessageFor(m => m.Meta.LanguagePercent!.ForeignPercent)
                        </div>
                        <label for="language-year">As of year:</label>
                        <div>
                            <input type="number" min="0" max="@DateTime.Now.Year" style="width: 100px;"
                                   id="language-year" asp-for="Meta.LanguagePercent!.Year"/>
                            @Html.ValidationMessageFor(m => m.Meta.LanguagePercent!.Year)
                        </div>

                    </div>
                </fieldset>

                <fieldset data-meta="trail-distance" hidden="@(Model.Meta.TrailDistance is null)">
                    <div style="display: grid; grid-template: auto auto / auto auto; gap: 5px; width: fit-content; align-items: center;">
                        <label for="trail-distance-kilometers">Trail length:</label>
                        <div>
                            <input type="number" min="0" max="10000" step="any" style="width: 100px;"
                                   id="trail-distance-kilometers" asp-for="Meta.TrailDistance!.Kilometers"/>
                            <span>km</span>
                            @Html.ValidationMessageFor(m => m.Meta.TrailDistance!.Kilometers)
                        </div>
                        <label for="trail-distance-type">Type:</label>
                        <div>
                            <select id="trail-distance-type" asp-for="Meta.TrailDistance!.Type">
                                <option value="@PlaceMeta.PlaceMetaTrailDistanceType.Circular">Circular</option>
                                <option value="@PlaceMeta.PlaceMetaTrailDistanceType.ThereAndBack">There and back</option>
                                <option value="@PlaceMeta.PlaceMetaTrailDistanceType.EndToEnd">End to end</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.Meta.TrailDistance!.Type)
                        </div>
                    </div>
                </fieldset>

                <fieldset data-meta="directions" hidden="@string.IsNullOrWhiteSpace(Model.Meta.Directions)">
                    <label for="directions">Address/driving directions:</label>
                    <textarea id="directions" class="input-block" asp-for="Meta.Directions"></textarea>
                    @Html.ValidationMessageFor(m => m.Meta.Directions)
                </fieldset>

                <fieldset data-meta="public-transport" hidden="@string.IsNullOrWhiteSpace(Model.Meta.PublicTransport)">
                    <label for="public-transport">Public transport directions:</label>
                    <textarea id="public-transport" class="input-block" asp-for="Meta.PublicTransport"></textarea>
                    @Html.ValidationMessageFor(m => m.Meta.PublicTransport)
                </fieldset>

                <fieldset data-meta="season" hidden="@string.IsNullOrWhiteSpace(Model.Meta.Season)">
                    <label for="season">Season tips:</label>
                    <textarea id="season" class="input-block" asp-for="Meta.Season"></textarea>
                    @Html.ValidationMessageFor(m => m.Meta.Season)
                </fieldset>

                <div class="hbox">
                    <div class="nowrap">Add metadata field:</div>
                    <select class="add-field-select w100">
                        <option value="" selected>Select new field...</option>
                        <option value="population" hidden="@(Model.Meta.Population is not null)">Population</option>
                        <option value="area" hidden="@(Model.Meta.Area is not null)">Area</option>
                        <option value="established" hidden="@(Model.Meta.Established)">Established in</option>
                        <option value="coat-of-arms" hidden="@(Model.Meta.CoatOfArms)">Coat of arms</option>
                        <option value="language-percent" hidden="@(Model.Meta.LanguagePercent is not null)">Language percentages</option>
                        <option value="trail-distance" hidden="@(Model.Meta.TrailDistance is not null)">Trail length</option>
                        <option value="directions" hidden="@(!string.IsNullOrWhiteSpace(Model.Meta.Directions))">Address/driving directions</option>
                        <option value="public-transport" hidden="@(!string.IsNullOrWhiteSpace(Model.Meta.PublicTransport))">Public transport directions</option>
                        <option value="season" hidden="@(!string.IsNullOrWhiteSpace(Model.Meta.Season))">Season tips</option>
                    </select>
                </div>
            </fieldset>

        </koti-place-metadata>
    </koti-tab>
    
    <koti-tab name="Location">
        <div>
            <koti-location-picker id="location" hx-preserve="true"
                                  lat="@Model.Lat.ToString(CultureInfo.InvariantCulture)" lng="@Model.Lng.ToString(CultureInfo.InvariantCulture)" />
            @Html.ValidationMessageFor(m => m.Lat)
            @Html.ValidationMessageFor(m => m.Lng)
        </div>

        <div class="input-inline mt mb">
            <label for="zoom">Default zoom level to display:</label>
            <input type="number" min="0" max="12" placeholder="0"
                   id="zoom" asp-for="Zoom"/>
            <button class="koti-btn" type="button" onclick="$id('zoom').value = $id('location').getMap().getZoom();">Use current map zoom</button>
            @Html.ValidationMessageFor(m => m.Zoom)
        </div>
    </koti-tab>
    
    <koti-tab name="Title Picture">
        <vc:picture-picker component-id="picture-picker-post-@Model.Id" field-name="TitlePictureId" picture-id="@Model.TitlePictureId"/>
        @Html.ValidationMessageFor(m => m.TitlePictureId)

        <div class="mt input-inline">
            <label for="title-image-offset-y">Title image vertical position:</label>
            <input type="number" min="0" max="100" placeholder="50" id="title-image-offset-y" asp-for="TitleImageOffsetY"/>
            %
            <br/>
                @Html.ValidationMessageFor(m => m.TitleImageOffsetY)
        </div>
    </koti-tab>

    
    <koti-tab name="Children">
        <koti-dnd-order class="place-children-list" field-prefix="Children" id="place-children-list-container">
            @foreach (var item in Model.Children.Select((value, i) => (value, i)))
            {
                <div draggable="true">
                    <partial name="_Child" model="(item.i, Model.Language, item.value)" />
                </div>
            }
        </koti-dnd-order>
        
        <div class="mt">
            <button type="button" class="koti-btn primary"
                    hx-get hx-controller="Places" hx-action="Create" hx-route-parentId="@Model.Id" hx-route-language="@Model.Language"
                    hx-target="#create-place-dialog-container">
                <i class="bi bi-plus-lg"></i> Add child place...
            </button>
            <div id="create-place-dialog-container"></div> 
        </div>
    </koti-tab>
</koti-tabs>